fastapi
uvicorn
motor[srv]
pymongo[srv]
passlib[bcrypt]
python-jose[cryptography]
pydantic
pydantic-settings
python-multipart
langchain
langchain-community
yfinance
faiss-cpu
sentence-transformers
scikit-learn
pandas
email-validator
geopy
certifi
dnspython
