fastapi
uvicorn
motor
pymongo
passlib[bcrypt]
python-jose[cryptography]
pydantic
pydantic-settings
python-multipart
langchain
langchain-community
yfinance
faiss-cpu
sentence-transformers
scikit-learn
pandas
